.Map-popover{
  width: 360px;
  height: auto;
}

.Place-content{
  width: auto;
  height: auto;
}

.Map-container{
  width: 100%;
  height: 240px;
  position: relative;
}

.Place-comment-container{
  padding: 5px;
  width: 100%;
  height: auto;
}

.Place-coordinate{
  font-size: x-small;
}


.Comment-container{
  position: relative;
  height: auto;
  min-height: 30px;
}

.Comment-text{
  padding-bottom: 20px;
  margin: 0;
}

.Action-container{
  position: absolute;
  right: 0;
  bottom: 0;
  height: 24px;
  display: flex;
  padding-top: 4px;
}


/* Retrieved from https://yuyauver98.me/twitter-like-animation/ */
@keyframes heartAnimation {
  0% {
    /* アイコンサイズをもとのより小さくする */
    transform: scale(0.5);
  }
  10% {
    transform: scale(0.7);
  }
  30% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    /* もとのサイズに戻す */
    transform: scale(1.0);
  }
}

.Comment-like-icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.Comment-like-icon.animated{
  animation: heartAnimation .2s;
}

.Comment-like-cnt{
  font-size: small;
  margin-left: 2px;
  margin-right: 0;
}

.Comment-sns-button{
  margin-top: -8px;
}