$primary-color: mediumaquamarine;
$primary-light-color:	#CBECE1;
$primary-dark-color: #2CB486;
$primary-darkness-color: seagreen;
$border-color: lightgrey;
$disable-color: silver;
$base-color: white;
$font-color: dimgrey;
$accent-color:#F2BD57;
$accent-light-color: #F9E4BA;

#menu-index {
  z-index: 300 !important;
}

%comment-menu {
  width: 6rem;
  height: 6rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 0 4px 6px);
  transition: 0.3s;
}

#menu.comment-menu {
  @extend %comment-menu;
  background-color: $accent-color;
  border-color: $accent-color;
  border-width: medium;

  &:hover {
    background-color: $accent-light-color;
    border-color: $accent-light-color;
    border-width: medium;
    transition: 0.3s;
  }

  &--appear {
    @extend %comment-menu;
    background-color: $primary-color;
    border-color: $primary-color;
    border-width: medium;

    &:hover {
      background-color: $primary-light-color;
      border-color: $primary-light-color;
      border-width: medium;
      transition: 0.3s;
    }
  }
}

.comment-menu {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    z-index: 50;
    background-image: url(../../../images/icon/comment_toggle.svg);
    
    &--appear {
      width: 3rem;
      height: 3rem;
      z-index: 100;
      border-color: $primary-color;
      border-width: thick;
    }
  }

  &__line {
    stroke-width: 2;
  }

  &__text {
    color: black;
  } 

  &--appear {
    @extend %comment-menu;

  }
}


@keyframes appearAnimation {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0%);
  }
}

.menu-container{
  position: absolute;
  top: 85%;
  left: 75%;
}

.menu-container.appear{
  animation: appearAnimation 0.3s;
  animation-timing-function: ease-out;
}

.menu-container.disappear{
  animation: appearAnimation 0.3s;
  animation-direction: reverse;
}